body {
    width: 100%;
    margin: 0;
    background-color: rgb(19, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button {
    margin-top: 10vw;
    margin-right: 50vw;
    position: absolute;
    width: 2vw;
    height: 2vw;
    opacity: 0.4;
    cursor: pointer;
    /* background-color: black; */
}
.button:hover {
    transition: 7s;
    transform: scale(10);
    opacity: 1;
}
.button img {
    width: 100%;
    height: 100%;
}
.text {
    margin-left: 5vw;
    margin-right: 5vw;
    color: wheat;
    font-size: 1vw;
}
.img-cont {
    background-color: rgb(136, 0, 0);
    width: 95%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.img-cont div {
    display: flex;
    justify-content: center;
    margin: 3%;
    background-color: rgb(77, 0, 0);
    border-radius: 1vw;
    max-width: 500px;
    width: auto;
    height: auto;
    padding: 1%;
}
.img {
    width: 100%;
    border-radius: 1%;
}
.icon-cont {
    width: 93% ;
    background-color: rgb(148, 0, 0);
    border-radius: 1vw;
    margin-top: 2%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    height: 30%;
    margin-bottom: 1%;
}
.icon-cont a {
    display: flex;
    justify-content: center;
    max-height: 100px;
    height: auto;
}
.icon {
    max-width: 300px;
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: 0.3s;
    transform: scale(1);
}
.icon:hover {
    transition: 0.3s;
    transform: scale(1.2);
    opacity: 1;
}
